extends layout 
block content
    h1.text-2xl.text-semibold.underline= category.name 
    h1.text-xl #[strong Category Name: ]  #{category.name}
    p.text-xl.italic #{category.description}
    p.text-xl #[strong Add On: ] #{category.add_on}
   
    