doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  h1(class="text-5xl text-center mb-5 underline decoration-2") Inventory
  div(class="flex flex-row flex-1 ")
    block sidebar
       ul(class='space-y-2 text-xl justify-start min-w-[200px] mx-20  ')
              li
                a(href='/catalog') Home
              li
                a(href='/catalog/items') All Items
              li
                a(href='/catalog/categories') All Category 
              hr(class="bg-black border-none h-[1px] w-1/2")
              li
                a(href='/catalog/item/create') Create new Item 
              li
                a(href='/catalog/category/create') Create new category
              

    div(class="flex-1 min-w-[300px]")
      block content
